In [1]:
import pandas as pd
import json
from itertools import groupby, chain

## Load datasets

In [2]:
df_events = pd.read_csv('./events.csv')
df_item1 = pd.read_csv('./item_properties_part1.csv')
df_item2 = pd.read_csv('./item_properties_part2.csv')
df_item = pd.concat([df_item1, df_item2])

### See some items in the datasets

In [3]:
df_events.head(10)

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN
5  1433224086234     972639  view   22556            NaN
6  1433221923240     810725  view  443030            NaN
7  1433223291897     794181  view  439202            NaN
8  1433220899221     824915  view  428805            NaN
9  1433221204592     339335  view   82389            NaN

In [4]:
df_item.head(10)

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513
5  1436065200000  285026   available                                0
6  1434250800000   89534         213                          1121373
7  1431831600000  264312           6                           319724
8  1433646000000  229370         202                          1330310
9  1434250800000   98113         451                  1141052 n48.000

### Filter out unnecessary records

In [5]:
df_item_cats = df_item.loc[df_item['property'] == 'categoryid']
df_item_cats.sort_values(['itemid', 'timestamp']).head(10)

             timestamp  itemid    property value
8220985  1431226800000       0  categoryid   209
8428979  1431226800000       1  categoryid  1114
9157980  1431226800000       2  categoryid  1305
3828355  1433041200000       3  categoryid  1171
8767464  1431831600000       4  categoryid  1038
9682959  1432436400000       5  categoryid  1061
562977   1431226800000       6  categoryid  1091
8724941  1435460400000       7  categoryid   512
1286993  1435460400000       8  categoryid   173
5032420  1431226800000      10  categoryid  1301

In [6]:
df_item_cats_collapsed = df_item_cats.sort_values('timestamp', ascending=True).drop_duplicates(['itemid', 'value'])
df_item_cats_collapsed.sort_values('itemid').head(10)

             timestamp  itemid    property value
8220985  1431226800000       0  categoryid   209
8428979  1431226800000       1  categoryid  1114
9157980  1431226800000       2  categoryid  1305
3828355  1433041200000       3  categoryid  1171
8767464  1431831600000       4  categoryid  1038
9682959  1432436400000       5  categoryid  1061
562977   1431226800000       6  categoryid  1091
8724941  1435460400000       7  categoryid   512
1286993  1435460400000       8  categoryid   173
5032420  1431226800000      10  categoryid  1301

### Joint two tables

In [7]:
df_events_cats = pd.merge(df_item_cats_collapsed, df_events, on='itemid')
df_events_cats.sort_values('visitorid').head(10)

,timestamp_x,itemid,property,value,timestamp_y,visitorid,event,transactionid
838575,1431226800000,357564,categoryid,256,1442004759591,0,view,NaN
1595267,1431831600000,285930,categoryid,1188,1442004589439,0,view,NaN
1706702,1432436400000,67045,categoryid,333,1442004917175,0,view,NaN
1363344,1431226800000,72028,categoryid,1192,1439487966444,1,view,NaN
2538349,1435460400000,325215,categoryid,299,1438970013790,2,view,NaN
1669020,1432436400000,259884,categoryid,299,1438970212664,2,view,NaN
2538347,1435460400000,325215,categoryid,299,1438971657845,2,view,NaN
2538350,1435460400000,325215,categoryid,299,1438969904567,2,view,NaN
1184212,1431226800000,342816,categoryid,444,1438970905669,2,view,NaN
1184211,1431226800000,342816,categoryid,444,1438971444375,2,view,NaN

Remove invalid entries

In [8]:
df_events_cats = df_events_cats[df_events_cats.timestamp_x < df_events_cats.timestamp_y]

Make concise table

In [9]:
df_events_cats['event_title'] = df_events_cats[['event', 'value']].apply(lambda x: ':'.join(x), axis=1)

In [10]:
df_event_seqs = df_events_cats[['visitorid', 'timestamp_y', 'event_title', 'itemid']]
df_event_seqs.columns = ['visitorid', 'timestamp', 'event_title', 'itemid']
df_event_seqs = df_event_seqs.sort_values(['visitorid', 'timestamp'])
df_event_seqs.head(50)

         visitorid      timestamp    event_title  itemid
1595267          0  1442004589439      view:1188  285930
838575           0  1442004759591       view:256  357564
1706702          0  1442004917175       view:333   67045
1363344          1  1439487966444      view:1192   72028
2538350          2  1438969904567       view:299  325215
2538349          2  1438970013790       view:299  325215
1669020          2  1438970212664       view:299  259884
1921503          2  1438970468920       view:299  216305
1184212          2  1438970905669       view:444  342816
1184211          2  1438971444375       view:444  342816
1921508          2  1438971463170       view:299  216305
2538347          2  1438971657845       view:299  325215
1521034          3  1438413035296      view:1171  385090
1942089          5  1437097556439       view:646   61396
1171109          6  1440914628202  addtocart:342   65273
946152           6  1440916778318       view:342  253615
1966962          6  1440916823805       view:342  344723
1966963          6  1440917649385       view:342  344723
1966967          6  1440917793838       view:342  344723
1966964          6  1440991285697       view:342  344723
844144           7  1431582162817      view:1114  164941
1385644          7  1431750039214       view:642  226353
579432           9  1436377007285       view:191  222422
622873          10  1438713029611       view:987  248766
538841          11  1439598583361       view:175  448220
1653632         13  1434602542103      view:1073  320589
793147          14  1432826298250      view:1273  330269
339956          15  1441850485703      view:1509   22495
340041          15  1441850485703       view:807   22495
616784          17  1433211837727      view:1375  138434
1493230         18  1441140293471      view:1167  209302
1493246         18  1441140293471       view:519  209302
1493262         18  1441140293471      view:1574  209302
553260          20  1436805036364       view:741  176623
883133          21  1440331779313        view:94   76091
443848          22  1435878975173      view:1526   86411
443847          22  1435878998785      view:1526   86411
2076197         23  1434075948023      view:1529  283916
2076198         23  1434077771188      view:1529  283916
981502          24  1432318909615       view:390  346051
188513          25  1435453230805        view:48  344325
1203387         26  1438045156395      view:1273  164342
1725098         29  1440911518175      view:1253  299118
924624          30  1439194188141      view:1509  425758
751604          31  1437492852502       view:691  465565
751762          31  1437492852502       view:528  465565
1512275         32  1441223408505        view:64  465465
2190765         32  1441905247409      view:1477  282491
349753          33  1442008513152      view:1483  185254
1396895         35  1441228662516      view:1393  187946

## Group by visitor

Convert to dictionaries

In [11]:
events = df_event_seqs.sort_values('visitorid').to_dict(orient='records')

Group by visitor id

In [12]:
event_seqs = []
for k, g in groupby(events, lambda x: x['visitorid']):
    event_seq = list(g)
    event_seqs.append({
        'visitorId': event_seq[0]['visitorid'],
        'events': [{
            'timestamp': event['timestamp'],
            'title': event['event_title'],
            'itemId': event['itemid']
        } for event in event_seq]
    })

In [13]:
event_seqs[0:10]

[{'events': [{'itemId': 285930,
    'timestamp': 1442004589439,
    'title': 'view:1188'},
   {'itemId': 357564, 'timestamp': 1442004759591, 'title': 'view:256'},
   {'itemId': 67045, 'timestamp': 1442004917175, 'title': 'view:333'}],
  'visitorId': 0},
 {'events': [{'itemId': 72028,
    'timestamp': 1439487966444,
    'title': 'view:1192'}],
  'visitorId': 1},
 {'events': [{'itemId': 325215,
    'timestamp': 1438969904567,
    'title': 'view:299'},
   {'itemId': 325215, 'timestamp': 1438970013790, 'title': 'view:299'},
   {'itemId': 259884, 'timestamp': 1438970212664, 'title': 'view:299'},
   {'itemId': 216305, 'timestamp': 1438970468920, 'title': 'view:299'},
   {'itemId': 342816, 'timestamp': 1438970905669, 'title': 'view:444'},
   {'itemId': 342816, 'timestamp': 1438971444375, 'title': 'view:444'},
   {'itemId': 216305, 'timestamp': 1438971463170, 'title': 'view:299'},
   {'itemId': 325215, 'timestamp': 1438971657845, 'title': 'view:299'}],
  'visitorId': 2},
 {'events': [{'itemId': 385090,
    'timestamp': 1438413035296,
    'title': 'view:1171'}],
  'visitorId': 3},
 {'events': [{'itemId': 61396,
    'timestamp': 1437097556439,
    'title': 'view:646'}],
  'visitorId': 5},
 {'events': [{'itemId': 344723,
    'timestamp': 1440991285697,
    'title': 'view:342'},
   {'itemId': 344723, 'timestamp': 1440917793838, 'title': 'view:342'},
   {'itemId': 344723, 'timestamp': 1440917649385, 'title': 'view:342'},
   {'itemId': 253615, 'timestamp': 1440916778318, 'title': 'view:342'},
   {'itemId': 65273, 'timestamp': 1440914628202, 'title': 'addtocart:342'},
   {'itemId': 344723, 'timestamp': 1440916823805, 'title': 'view:342'}],
  'visitorId': 6},
 {'events': [{'itemId': 164941,
    'timestamp': 1431582162817,
    'title': 'view:1114'},
   {'itemId': 226353, 'timestamp': 1431750039214, 'title': 'view:642'}],
  'visitorId': 7},
 {'events': [{'itemId': 222422,
    'timestamp': 1436377007285,
    'title': 'view:191'}],
  'visitorId': 9},
 {'events': [{'itemId': 248766,
    'timestamp': 1438713029611,
    'title': 'view:987'}],
  'visitorId': 10},
 {'events': [{'itemId': 448220,
    'timestamp': 1439598583361,
    'title': 'view:175'}],
  'visitorId': 11}]

In [14]:
ts_diff = 30 * 60 * 1000
def split_events(event_seq):
    seqs = []
    seq = {
        'visitorId': event_seq['visitorId'],
        'events': [event_seq['events'][0]]
    }
    seqs.append(seq)
    for i in range(1, len(event_seq['events'])):
        event = event_seq['events'][i]
        previous_event = event_seq['events'][i - 1]
        if (event['timestamp'] - previous_event['timestamp'] > ts_diff):
            seq = {
                'visitorId': event_seq['visitorId'],
                'events': [event]
            }
            seqs.append(seq)
        else:
            seq['events'].append(event)
    return seqs

In [15]:
split_events(list(filter(lambda x: len(x['events']) > 40, event_seqs))[0])

[{'events': [{'itemId': 293512,
    'timestamp': 1438360638722,
    'title': 'view:589'},
   {'itemId': 395407, 'timestamp': 1438360764412, 'title': 'view:589'},
   {'itemId': 270798, 'timestamp': 1438360782479, 'title': 'view:589'},
   {'itemId': 270798, 'timestamp': 1438360805941, 'title': 'view:589'},
   {'itemId': 178991, 'timestamp': 1438360958824, 'title': 'view:1135'},
   {'itemId': 80661, 'timestamp': 1438361004536, 'title': 'view:1135'},
   {'itemId': 270798, 'timestamp': 1438361162414, 'title': 'view:589'},
   {'itemId': 80661, 'timestamp': 1438361189536, 'title': 'view:1135'}],
  'visitorId': 1879},
 {'events': [{'itemId': 270798,
    'timestamp': 1438710985871,
    'title': 'view:589'},
   {'itemId': 380440, 'timestamp': 1438622869427, 'title': 'view:586'},
   {'itemId': 270798, 'timestamp': 1438622894828, 'title': 'view:589'},
   {'itemId': 80661, 'timestamp': 1438622912948, 'title': 'view:1135'}],
  'visitorId': 1879},
 {'events': [{'itemId': 125819,
    'timestamp': 1438641915305,
    'title': 'view:1135'}],
  'visitorId': 1879},
 {'events': [{'itemId': 441974,
    'timestamp': 1438708096525,
    'title': 'view:769'},
   {'itemId': 240496, 'timestamp': 1438708139838, 'title': 'view:769'},
   {'itemId': 433461, 'timestamp': 1438708247792, 'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 380440,
    'timestamp': 1438710840526,
    'title': 'view:586'},
   {'itemId': 93761, 'timestamp': 1438360590024, 'title': 'view:589'},
   {'itemId': 380440, 'timestamp': 1438361353497, 'title': 'view:586'},
   {'itemId': 210848, 'timestamp': 1438275075048, 'title': 'view:589'},
   {'itemId': 142446, 'timestamp': 1438274149662, 'title': 'view:1135'},
   {'itemId': 31514, 'timestamp': 1438188553087, 'title': 'view:844'},
   {'itemId': 237448, 'timestamp': 1438188581332, 'title': 'view:844'},
   {'itemId': 385208, 'timestamp': 1438188903705, 'title': 'view:844'},
   {'itemId': 336165, 'timestamp': 1438188937623, 'title': 'view:844'},
   {'itemId': 380440, 'timestamp': 1438189260485, 'title': 'view:586'},
   {'itemId': 132733, 'timestamp': 1438189329877, 'title': 'view:1135'},
   {'itemId': 93761, 'timestamp': 1438189614308, 'title': 'view:589'},
   {'itemId': 380440, 'timestamp': 1438189669177, 'title': 'view:586'}],
  'visitorId': 1879},
 {'events': [{'itemId': 93761,
    'timestamp': 1438195992887,
    'title': 'view:589'},
   {'itemId': 75458, 'timestamp': 1438196378289, 'title': 'view:1135'}],
  'visitorId': 1879},
 {'events': [{'itemId': 93761,
    'timestamp': 1438272221037,
    'title': 'view:589'},
   {'itemId': 93761, 'timestamp': 1438272516156, 'title': 'view:589'},
   {'itemId': 210848, 'timestamp': 1438272663709, 'title': 'view:589'},
   {'itemId': 132733, 'timestamp': 1438272762888, 'title': 'view:1135'},
   {'itemId': 142446, 'timestamp': 1438272920637, 'title': 'view:1135'},
   {'itemId': 440896, 'timestamp': 1438273193908, 'title': 'view:1135'},
   {'itemId': 178991, 'timestamp': 1438273874152, 'title': 'view:1135'},
   {'itemId': 146901, 'timestamp': 1438274690374, 'title': 'view:1135'}],
  'visitorId': 1879},
 {'events': [{'itemId': 80661,
    'timestamp': 1438711062935,
    'title': 'view:1135'}],
  'visitorId': 1879},
 {'events': [{'itemId': 80661,
    'timestamp': 1439831675511,
    'title': 'view:1135'},
   {'itemId': 284299, 'timestamp': 1438727564985, 'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 20773,
    'timestamp': 1439937711149,
    'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 219328,
    'timestamp': 1439999646400,
    'title': 'view:1473'},
   {'itemId': 51118, 'timestamp': 1439999668643, 'title': 'view:1473'},
   {'itemId': 61925, 'timestamp': 1439999729575, 'title': 'view:1473'}],
  'visitorId': 1879},
 {'events': [{'itemId': 135883,
    'timestamp': 1440002322579,
    'title': 'view:1473'}],
  'visitorId': 1879},
 {'events': [{'itemId': 293397,
    'timestamp': 1440005171574,
    'title': 'view:1473'},
   {'itemId': 219328, 'timestamp': 1440005309259, 'title': 'view:1473'}],
  'visitorId': 1879},
 {'events': [{'itemId': 463804,
    'timestamp': 1440085335456,
    'title': 'view:646'}],
  'visitorId': 1879},
 {'events': [{'itemId': 195666,
    'timestamp': 1440186329893,
    'title': 'view:1473'},
   {'itemId': 7349, 'timestamp': 1440186367998, 'title': 'view:1473'},
   {'itemId': 195666, 'timestamp': 1440187624458, 'title': 'view:1473'},
   {'itemId': 195666, 'timestamp': 1440187803719, 'title': 'view:1473'},
   {'itemId': 7349, 'timestamp': 1440187897761, 'title': 'view:1473'},
   {'itemId': 135883, 'timestamp': 1440189658887, 'title': 'view:1473'}],
  'visitorId': 1879},
 {'events': [{'itemId': 61925,
    'timestamp': 1440434094750,
    'title': 'view:1473'}],
  'visitorId': 1879},
 {'events': [{'itemId': 72077,
    'timestamp': 1440631679918,
    'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 334601,
    'timestamp': 1440784311705,
    'title': 'view:1192'},
   {'itemId': 438515, 'timestamp': 1439936926977, 'title': 'view:769'},
   {'itemId': 20773, 'timestamp': 1439927838686, 'title': 'view:769'},
   {'itemId': 20773, 'timestamp': 1439912000372, 'title': 'view:769'},
   {'itemId': 93761, 'timestamp': 1439831696556, 'title': 'view:589'},
   {'itemId': 245626, 'timestamp': 1438727798563, 'title': 'view:769'},
   {'itemId': 441974, 'timestamp': 1438728033895, 'title': 'view:769'},
   {'itemId': 122534, 'timestamp': 1438728213526, 'title': 'view:769'},
   {'itemId': 20773, 'timestamp': 1438728287737, 'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 462018,
    'timestamp': 1438730598204,
    'title': 'view:769'},
   {'itemId': 146857, 'timestamp': 1438730764749, 'title': 'view:769'},
   {'itemId': 105962, 'timestamp': 1438731297013, 'title': 'view:1680'}],
  'visitorId': 1879},
 {'events': [{'itemId': 440386,
    'timestamp': 1438807764016,
    'title': 'view:1205'},
   {'itemId': 380440, 'timestamp': 1438712845003, 'title': 'view:586'}],
  'visitorId': 1879},
 {'events': [{'itemId': 165696,
    'timestamp': 1438875925989,
    'title': 'view:844'},
   {'itemId': 93761, 'timestamp': 1438876461474, 'title': 'view:589'},
   {'itemId': 270798, 'timestamp': 1438876506906, 'title': 'view:589'},
   {'itemId': 93761, 'timestamp': 1438876535177, 'title': 'view:589'}],
  'visitorId': 1879},
 {'events': [{'itemId': 111001,
    'timestamp': 1439499078607,
    'title': 'view:1018'},
   {'itemId': 210018, 'timestamp': 1439499212382, 'title': 'view:1429'}],
  'visitorId': 1879},
 {'events': [{'itemId': 402036,
    'timestamp': 1439501271811,
    'title': 'view:730'}],
  'visitorId': 1879},
 {'events': [{'itemId': 380440,
    'timestamp': 1439830691263,
    'title': 'view:586'},
   {'itemId': 31514, 'timestamp': 1438187393849, 'title': 'view:844'}],
  'visitorId': 1879},
 {'events': [{'itemId': 93761,
    'timestamp': 1438875941295,
    'title': 'view:589'},
   {'itemId': 237448, 'timestamp': 1438187233572, 'title': 'view:844'}],
  'visitorId': 1879},
 {'events': [{'itemId': 93761,
    'timestamp': 1438189288333,
    'title': 'view:589'},
   {'itemId': 380440, 'timestamp': 1438184872793, 'title': 'view:586'},
   {'itemId': 310764, 'timestamp': 1432761272183, 'title': 'view:242'},
   {'itemId': 251394, 'timestamp': 1432761294908, 'title': 'view:1480'},
   {'itemId': 335661, 'timestamp': 1432761343951, 'title': 'view:671'},
   {'itemId': 335661, 'timestamp': 1432761346273, 'title': 'view:671'},
   {'itemId': 426277, 'timestamp': 1432761434360, 'title': 'view:936'},
   {'itemId': 282419, 'timestamp': 1432761634772, 'title': 'view:279'},
   {'itemId': 282419, 'timestamp': 1432761634772, 'title': 'view:361'}],
  'visitorId': 1879},
 {'events': [{'itemId': 437362,
    'timestamp': 1433280702091,
    'title': 'view:1504'}],
  'visitorId': 1879},
 {'events': [{'itemId': 32259,
    'timestamp': 1433874436422,
    'title': 'view:1227'}],
  'visitorId': 1879},
 {'events': [{'itemId': 337671,
    'timestamp': 1433958802685,
    'title': 'view:782'}],
  'visitorId': 1879},
 {'events': [{'itemId': 29167,
    'timestamp': 1433979298171,
    'title': 'view:1192'}],
  'visitorId': 1879},
 {'events': [{'itemId': 29167,
    'timestamp': 1434050748250,
    'title': 'view:1192'}],
  'visitorId': 1879},
 {'events': [{'itemId': 10572,
    'timestamp': 1434401151691,
    'title': 'view:1037'},
   {'itemId': 445258, 'timestamp': 1434401767946, 'title': 'view:1037'}],
  'visitorId': 1879},
 {'events': [{'itemId': 97893, 'timestamp': 1434411395294, 'title': 'view:1'},
   {'itemId': 242493, 'timestamp': 1434411413761, 'title': 'view:737'}],
  'visitorId': 1879},
 {'events': [{'itemId': 83937,
    'timestamp': 1434490009662,
    'title': 'view:959'},
   {'itemId': 422829, 'timestamp': 1432761237188, 'title': 'view:242'},
   {'itemId': 252596, 'timestamp': 1432761182074, 'title': 'view:361'},
   {'itemId': 252596, 'timestamp': 1432761182074, 'title': 'view:279'},
   {'itemId': 282419, 'timestamp': 1432761156181, 'title': 'view:361'},
   {'itemId': 225028, 'timestamp': 1431713932585, 'title': 'view:1542'}],
  'visitorId': 1879},
 {'events': [{'itemId': 129796,
    'timestamp': 1432315050169,
    'title': 'view:1258'},
   {'itemId': 449567, 'timestamp': 1432315165732, 'title': 'view:1643'},
   {'itemId': 27719, 'timestamp': 1432315230614, 'title': 'view:1643'}],
  'visitorId': 1879},
 {'events': [{'itemId': 247343,
    'timestamp': 1432596387103,
    'title': 'view:959'},
   {'itemId': 354585, 'timestamp': 1432596464187, 'title': 'view:959'}],
  'visitorId': 1879},
 {'events': [{'itemId': 252596,
    'timestamp': 1432760131236,
    'title': 'view:279'},
   {'itemId': 252596, 'timestamp': 1432760131236, 'title': 'view:361'}],
  'visitorId': 1879},
 {'events': [{'itemId': 109499,
    'timestamp': 1434490228810,
    'title': 'view:959'},
   {'itemId': 422829, 'timestamp': 1432760225007, 'title': 'view:242'},
   {'itemId': 83707, 'timestamp': 1432760379933, 'title': 'view:1663'},
   {'itemId': 251394, 'timestamp': 1432760394305, 'title': 'view:1480'},
   {'itemId': 335661, 'timestamp': 1432760527825, 'title': 'view:671'},
   {'itemId': 121977, 'timestamp': 1432760981389, 'title': 'view:936'}],
  'visitorId': 1879},
 {'events': [{'itemId': 132733,
    'timestamp': 1438185776317,
    'title': 'view:1135'},
   {'itemId': 252596, 'timestamp': 1432761132670, 'title': 'view:279'},
   {'itemId': 252596, 'timestamp': 1432761132670, 'title': 'view:361'},
   {'itemId': 282419, 'timestamp': 1432761156181, 'title': 'view:279'},
   {'itemId': 310764, 'timestamp': 1432760252661, 'title': 'view:242'}],
  'visitorId': 1879},
 {'events': [{'itemId': 223481,
    'timestamp': 1434490298819,
    'title': 'view:695'},
   {'itemId': 426277, 'timestamp': 1432760997047, 'title': 'view:936'}],
  'visitorId': 1879},
 {'events': [{'itemId': 230234,
    'timestamp': 1434490352890,
    'title': 'view:695'}],
  'visitorId': 1879},
 {'events': [{'itemId': 44955,
    'timestamp': 1437780217379,
    'title': 'view:769'},
   {'itemId': 418513, 'timestamp': 1437780319471, 'title': 'view:769'},
   {'itemId': 361062, 'timestamp': 1437780508525, 'title': 'view:769'},
   {'itemId': 421867, 'timestamp': 1437780542970, 'title': 'view:769'},
   {'itemId': 449926, 'timestamp': 1437780677079, 'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 28887,
    'timestamp': 1438098556167,
    'title': 'view:769'},
   {'itemId': 322331, 'timestamp': 1438098737012, 'title': 'view:769'},
   {'itemId': 359661, 'timestamp': 1438098845748, 'title': 'view:769'},
   {'itemId': 90446, 'timestamp': 1438098995813, 'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 240496,
    'timestamp': 1438101699333,
    'title': 'view:769'},
   {'itemId': 92695, 'timestamp': 1434490318755, 'title': 'view:959'}],
  'visitorId': 1879},
 {'events': [{'itemId': 419083,
    'timestamp': 1438104680659,
    'title': 'view:769'},
   {'itemId': 114645, 'timestamp': 1438104747980, 'title': 'view:769'},
   {'itemId': 343016, 'timestamp': 1438104777195, 'title': 'view:769'},
   {'itemId': 340334, 'timestamp': 1438104947894, 'title': 'view:769'}],
  'visitorId': 1879},
 {'events': [{'itemId': 380440,
    'timestamp': 1438184126004,
    'title': 'view:586'},
   {'itemId': 93761, 'timestamp': 1438184840946, 'title': 'view:589'},
   {'itemId': 91896, 'timestamp': 1437780078938, 'title': 'view:769'},
   {'itemId': 365482, 'timestamp': 1437779903376, 'title': 'view:769'},
   {'itemId': 430952, 'timestamp': 1437780123806, 'title': 'view:769'},
   {'itemId': 28887, 'timestamp': 1437779724427, 'title': 'view:769'},
   {'itemId': 147493, 'timestamp': 1434490394446, 'title': 'view:959'},
   {'itemId': 147493, 'timestamp': 1434490482566, 'title': 'view:959'},
   {'itemId': 83937, 'timestamp': 1434490516834, 'title': 'view:959'},
   {'itemId': 444707, 'timestamp': 1434490538467, 'title': 'view:695'},
   {'itemId': 466657, 'timestamp': 1434490564938, 'title': 'view:695'},
   {'itemId': 417927, 'timestamp': 1434490616045, 'title': 'view:959'},
   {'itemId': 375812, 'timestamp': 1434490787409, 'title': 'view:959'}],
  'visitorId': 1879},
 {'events': [{'itemId': 291410,
    'timestamp': 1437779851812,
    'title': 'view:769'},
   {'itemId': 439517, 'timestamp': 1434651396579, 'title': 'view:1317'},
   {'itemId': 439517, 'timestamp': 1434651332213, 'title': 'view:1317'}],
  'visitorId': 1879},
 {'events': [{'itemId': 141232,
    'timestamp': 1434746722343,
    'title': 'view:208'},
   {'itemId': 351753, 'timestamp': 1434746802133, 'title': 'view:208'}],
  'visitorId': 1879},
 {'events': [{'itemId': 337671,
    'timestamp': 1434995511382,
    'title': 'view:782'}],
  'visitorId': 1879},
 {'events': [{'itemId': 450641,
    'timestamp': 1435337195951,
    'title': 'view:782'}],
  'visitorId': 1879},
 {'events': [{'itemId': 320004,
    'timestamp': 1436456280171,
    'title': 'view:1581'}],
  'visitorId': 1879},
 {'events': [{'itemId': 158890,
    'timestamp': 1437598190596,
    'title': 'view:1480'},
   {'itemId': 235048, 'timestamp': 1437598267716, 'title': 'view:1663'}],
  'visitorId': 1879},
 {'events': [{'itemId': 252117,
    'timestamp': 1437779633858,
    'title': 'view:769'},
   {'itemId': 337671, 'timestamp': 1434652208186, 'title': 'view:782'}],
  'visitorId': 1879}]

In [16]:
event_seqs_split30mins = list(chain.from_iterable(map(split_events, event_seqs)))

In [20]:
event_seqs_split30mins[0:10]

[{'events': [{'itemId': 285930,
    'timestamp': 1442004589439,
    'title': 'view:1188'},
   {'itemId': 357564, 'timestamp': 1442004759591, 'title': 'view:256'},
   {'itemId': 67045, 'timestamp': 1442004917175, 'title': 'view:333'}],
  'visitorId': 0},
 {'events': [{'itemId': 72028,
    'timestamp': 1439487966444,
    'title': 'view:1192'}],
  'visitorId': 1},
 {'events': [{'itemId': 325215,
    'timestamp': 1438969904567,
    'title': 'view:299'},
   {'itemId': 325215, 'timestamp': 1438970013790, 'title': 'view:299'},
   {'itemId': 259884, 'timestamp': 1438970212664, 'title': 'view:299'},
   {'itemId': 216305, 'timestamp': 1438970468920, 'title': 'view:299'},
   {'itemId': 342816, 'timestamp': 1438970905669, 'title': 'view:444'},
   {'itemId': 342816, 'timestamp': 1438971444375, 'title': 'view:444'},
   {'itemId': 216305, 'timestamp': 1438971463170, 'title': 'view:299'},
   {'itemId': 325215, 'timestamp': 1438971657845, 'title': 'view:299'}],
  'visitorId': 2},
 {'events': [{'itemId': 385090,
    'timestamp': 1438413035296,
    'title': 'view:1171'}],
  'visitorId': 3},
 {'events': [{'itemId': 61396,
    'timestamp': 1437097556439,
    'title': 'view:646'}],
  'visitorId': 5},
 {'events': [{'itemId': 344723,
    'timestamp': 1440991285697,
    'title': 'view:342'},
   {'itemId': 344723, 'timestamp': 1440917793838, 'title': 'view:342'},
   {'itemId': 344723, 'timestamp': 1440917649385, 'title': 'view:342'},
   {'itemId': 253615, 'timestamp': 1440916778318, 'title': 'view:342'},
   {'itemId': 65273, 'timestamp': 1440914628202, 'title': 'addtocart:342'}],
  'visitorId': 6},
 {'events': [{'itemId': 344723,
    'timestamp': 1440916823805,
    'title': 'view:342'}],
  'visitorId': 6},
 {'events': [{'itemId': 164941,
    'timestamp': 1431582162817,
    'title': 'view:1114'}],
  'visitorId': 7},
 {'events': [{'itemId': 226353,
    'timestamp': 1431750039214,
    'title': 'view:642'}],
  'visitorId': 7},
 {'events': [{'itemId': 222422,
    'timestamp': 1436377007285,
    'title': 'view:191'}],
  'visitorId': 9}]

In [18]:
f = open('ecommerce-eventseq.jsonl', 'w')
for event_seq in event_seqs_split30mins:
    f.write(json.dumps(event_seq))
    f.write('\n')
f.flush()